.about {
  background-color: $main-bg-color
}

.about-pre-title {
  @include font(700, 18px, 1.2, null);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: $white-text-color;
  margin-bottom: 12px;
  @include tablet {
    @include font(800, 22px, 1.22, 0.04em);
  }
  @include desktop {
    font-size: 30px;
    line-height: 1.23px;
  }
}
.about-title {
  font-family: $secondary-ff;
  @include font(400, 30px, 1.26, 0.04em);
  max-width: 210px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: $white-text-color;
  margin-bottom: 32px;
  @include tablet {
    white-space: nowrap;
    max-width: 454px;
    font-size: 34px;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }
  @include desktop {
    max-width: 481px;
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 82px;
  }
}
.about-content {
  @include tablet {
    display: flex;
    gap: 32px;
  }
  @include desktop {
    gap: 100px;
  }
}
.about-picture {
  position: relative;
  width: 278px;
  height: 278px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-bottom: 62px;
  @include tablet {
    min-width: 334px;
    min-height: 334px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  @include desktop {
    min-width: 500px;
    min-height: 500px;
  }
}
.about-cow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(22px);
  @include tablet {
    transform: translateY(26px);
  }
  @include desktop {
    transform: translateY(39px);
  }
}
.about-img {
  width: 100%;
}
.about-text-container {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 334px;
  }
  @include desktop {
    max-width: 463px;
  }
}
.about-item {
  @include font(400, 12px, 1.75, 0.04em);
  text-align: center;
  color: $white-text-color;
  @include tablet {
    text-align: left;
  }
  @include desktop {
    font-size: 16px;
  }
}
.about-item:not(:last-child) {
  margin-bottom: 4px;
  @include tablet {
    margin-bottom: 8px;
  }
}
.about-item:last-child {
  display: none;
  @include tablet {
    display: block;
    margin-bottom: 48px;
  }
}
.about-button {
  margin-top: 20px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  stroke: currentColor;
  @include tablet {
    margin-bottom: 0;
    margin-left: 0;
  }
}
.about-more {
  stroke: currentColor;
  &:focus {
    stroke: currentColor;
  }
}
