@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth
}
body {
  font-family: $main-ff;
  // background-color: $main-bg-color;

  background: url(../images/iceCreamBG1.jpg) repeat-y center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  scroll-behavior: smooth
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 90px 15px;
  overflow-y: scroll;
  //   transition: opacity var(--duration) var(--timing-function),
  //     visibility var(--duration) var(--timing-function), scale var(--duration) var(--timing-function);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
