.extras__scroll-to-top {
  padding: 5px;
  height: 50px;
  width: auto;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  font-family: $secondary-ff;
  cursor: pointer;
  z-index: 1;

  background-color: $accent-color;
  border: 0px;
  border-radius: 50px;
  border: 2px solid $black-text-color;

  animation: extras__scroll-to-top 1s linear infinite both;

  transition: all $timing-function $duratoin;

  // background $timing-function $duratoin;

  &:hover {
    color: $white-text-color;
    background: $hover-green-color;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes extras__scroll-to-top {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.color-change-3x {
  -webkit-animation: color-change-3x 5s infinite alternate both;
  animation: color-change-3x 5s infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: hsla(90, 83%, 51%, 0.5);
  }
  50% {
    background: hsla(223, 100%, 59%, 0.5);
  }
  100% {
    background: hsla(294, 100%, 60%, 0.5);
  }
}
@keyframes color-change-3x {
  0% {
    background: hsla(90, 83%, 51%, 0.5);
  }
  50% {
    background: hsla(223, 100%, 59%, 0.5);
  }
  100% {
    background: hsla(294, 100%, 60%, 0.5);
  }
}

.side-dotted-menu {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;
  font-size: 14px;
  font-family: $secondary-ff;

  white-space: pre-wrap;

  word-break: normal;
  word-wrap: normal;
  overflow-wrap: normal;

  line-height: 1.5;

  color: $black-text-color;

  opacity: 0;
  visibility: hidden;

  transition: all $timing-function $duratoin;
  a {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    width: 25px;
    height: 25px;
    border: 2px solid $black-text-color;
    background-color: $accent-color;
    border-radius: 50px;

    animation: extras__scroll-to-top 1s linear infinite both;

    transition: width 400ms ease-out, background-color 400ms ease-out,
      height 400ms ease-out, border-radius 1000ms ease-out;

    // font-size 200ms ease-in-out,
    display: flex;
    align-items: center;
    justify-content: center;

    & > p {
      // transform: translateX(50%);
      white-space: nowrap;
      opacity: 0;
      transform: scale(0);

      transition: opacity 400ms ease-out 200ms, background 400ms ease-out;
      text-decoration: none;
    }

    &:hover {
      & > p {
        transform: scale(1);
        color: $white-text-color;

        opacity: 1;
      }
      background-color: $hover-green-color;

      border-radius: 10px 100px / 120px;
      padding: 10px;
      width: 100%;
      height: 35px;
      max-height: 50px;
      font-size: 16px;
    }
  }
}
