.extras__scroll-to-top {
  padding: 5px;
  height: 50px;
  width: auto;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  font-family: $secondary-ff;
  cursor: pointer;
  z-index: 1;

  background-color: $accent-color;
  border: 0px;
  border-radius: 50px;
  border: 2px solid $black-text-color;

  animation: extras__scroll-to-top 1s linear infinite both;

  transition: opacity 1000ms $duratoin, visibility 1000ms $duratoin;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes extras__scroll-to-top {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.color-change-3x {
  -webkit-animation: color-change-3x 5s infinite alternate both;
  animation: color-change-3x 5s infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: hsla(90, 83%, 51%, 0.5);
  }
  50% {
    background: hsla(223, 100%, 59%, 0.5);
  }
  100% {
    background: hsla(294, 100%, 60%, 0.5);
  }
}
@keyframes color-change-3x {
  0% {
    background: hsla(90, 83%, 51%, 0.5);
  }
  50% {
    background: hsla(223, 100%, 59%, 0.5);
  }
  100% {
    background: hsla(294, 100%, 60%, 0.5);
  }
}
