.gallery__img {
  margin: 0 auto;
  border-radius: 24px;
}

.slick-dots li button {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.swiper-gallary {
  max-width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
}