.header {
background-color: $main-bg-color;

.container {
    display: flex;
    align-items: center; 
    @include desktop {
        justify-content: space-between;
    }  
}
.logo {
    @media screen and (max-width:767px) {
        margin-top: 12px;
    }
    @include tablet {
    margin-top: 20px;
    }
    @include desktop {
        margin-top: 8px;
    }
}
.nav {
    @media screen and (max-width:1199px) {
    display: none;
    }
}
.list {
    display: flex;
    margin-left: 32px;
}
.item:not(:last-child) {
    margin-right: 27px;
}

.menu-btn {
    border: none;
    background-color: transparent;
        @include tablet {
        margin-right: 32px;
        }
        
    @include desktop {
        display: none;
    }
}

.main-button {
            @include font(600, 14px, 1.2, null);
            padding: 12px 34px;
            font-family: $main-ff;
            display: flex;
            align-items: center;
            text-align: center;
            color: $black-text-color;
            background-color: $accent-color;
            border: none;
            outline: none;
            border-radius: 10px;
            transition: color $timing-function $duratoin,
                background-color $timing-function $duratoin;
    
            &:hover {
                background: $hover-green-color;
            }
    
            &:focus {
                color: $white-text-color;
                background: $hover-green-color;
            }
    
            &:disabled {
                background: $disabled-color;
            }
    
    @media screen and (max-width:767px) {
    display: none;
    } 
    @include desktop {
        margin-left: auto;
    }
    
}

.position {
    @media screen and (max-width:1199px) {
    margin-left: auto;
    }
    
@include tablet {
    display: flex;
    align-items: center;
}
}


}
