// TEST BUTTONS STYLES

.test-buttons {
  // width: 1200px;
  height: auto;
  display: flex;
}

// UL normalize display ------------ NEED TO BE IN COMMON
ul {
  padding-inline-start: 0;
}

// -------------------    backdrop STYLE

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  overflow-y: scroll;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;

  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

// --------------- MODAL STYLES ------------------------
.modal {
  /* Hide all modals  */
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  // z-index must be greater than overlay
  z-index: 21;

  // modal styles
  position: fixed;
  // margin-top: 15%;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100%;
  max-width: 280px;
  height: auto;

  background: $white-text-color;
  border: 2px solid $accent-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    height: auto;
    max-width: 568px;
  }

  transform: scale(1);

  transition: transform $timing-function $duratoin;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__title {
  font-family: $secondary-ff;

  font-size: 16px;
  line-height: 1.5;

  color: $black-text-color;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 1.4;

    color: $black-text-color;
  }
}

.modal__button-close {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white-text-color;

  border: 0px;

  cursor: pointer;
  fill: currentColor;

  transition: color $timing-function $duratoin;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;

  @media screen and (min-width: 768px) {
    padding: 32px 54px;
  }
}

.modal__items {
  margin-bottom: 24.25px;

  & .modal__item:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    flex-direction: row;
    margin-bottom: 40px;
  }
}

.modal__item {
  display: flex;
  justify-content: center;
  position: relative;

  height: 200px;
  width: 132px;
}

.modal__img {
  position: absolute;
  z-index: 24;
  top: 0px;
  border-radius: 50%;
  width: 132px;
  height: 132px;
}

.modal__circl {
  z-index: 23;
  position: absolute;
  width: 132px;
  height: 132px;
  top: 7px;
  border-radius: 50%;

  &.modal__iceCream {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &.modal__iceCoffee {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &.modal__milkShake {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
}

.modal__shape {
  position: absolute;
  bottom: 0px;
  z-index: 22;
  width: 132px;
  height: 136.4px;
  border-radius: 15.7808px;

  &.modal__iceCream {
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  }

  &.modal__iceCoffee {
    background: $products-yellow-color;
    border: 2px solid $products-yellow-color;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  }

  &.modal__milkShake {
    border: 2px solid $products-brown-color;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
  }
}

.modal__text {
  z-index: 25;
  position: absolute;
  bottom: 20px;

  font-family: $main-ff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $black-text-color;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 12.12px;

  @media screen and (min-width: 768px) {
    gap: 0px;
    width: 368px;
  }

  & .modal__input-label:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }
}

.modal__input-div {
  position: relative;

  transition: color $timing-function $duratoin;

  @media screen and (max-width: 768px) {
    width: 220px;
  }
}

.modal__form-input {
  resize: none;
  width: 100%;

  padding: 8px 12px;

  font-family: $main-ff;

  font-size: 12px;
  line-height: 1.4;

  color: $black-text-color;

  background: $input-bg-color;
  border: 1px solid $main-bg-color;
  border-radius: 10px;

  &:focus-visible {
    outline: none;
  }

  .modal__input-div & {
    height: 32px;
  }
}

.modal__input-textarea {
  &::placeholder {
    font-family: $main-ff;

    font-size: 12px;
    line-height: 1.4;
    /* or 17px */

    color: $black-text-color;
  }

  & .modal_form-input {
    resize: none;

    padding: 8px 12px;

    font-family: $main-ff;

    font-size: 12px;
    line-height: 1.4;

    color: $black-text-color;
  }
}

.modal__button-container {
  margin: 16px auto;
}

.modal__button {
  padding: 12px 34px;

  font-family: $main-ff;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;

  color: $black-text-color;

  background-color: $accent-color;

  border: 0px solid $accent-color;
  border-radius: 10px;
  color: $black-text-color;

  &:hover {
    background: $hover-green-color;
    border: 0px solid $hover-green-color;
  }

  &:focus {
    color: $white-text-color;
    background: $hover-green-color;
    border: 0px solid $hover-green-color;
  }

  &:disabled {
    background: $disabled-color;
    border: 0px solid $disabled-color;
  }

  & .modal__button-icon {
    position: relative;
    top: 0.125em;

    flex-shrink: 0;

    height: 1em;
    width: 1em;

    transition: stroke 0.25s;
  }

  & #modal__botton-icon-path {
    stroke: currentColor;

    transition: stroke 0.25s;
  }
}

// modal about us styles

.modal__how-its-made {
  .modal__title {
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  .modal__about-us-text {
    font-family: $main-ff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;

    color: $black-text-color;
  }

  .modal__about-us-video-zone {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 100%;

    background-color: $black-text-color;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 10px;
    fill: $white-text-color;

    transition: background-color $duratoin $timing-function,
      color $duratoin $timing-function, fill $duratoin $timing-function;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }

    &:hover {
      color: $accent-color;
      background-color: $tab-menu-bg-color;

      fill: $accent-color;
    }

    & svg {
      width: 27.3px;
      height: 27.3px;

      &:hover {
        fill: currentColor;
      }
    }
  }
}

// ------------ MODAL OUR LOCATIONS

.modal__our-location {
  & .modal__container {
    padding: 28px;

    @media screen and (min-width: 768px) {
      padding: 32px 60px;
    }
  }

  & .modal__title {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
  & .modal__button-container {
    margin: 24px 0 0 0;

    @media screen and (min-width: 768px) {
      margin: 32px 0 0 0;
    }
  }
}

.modal__our-location-map {
  display: flex;
  justify-content: center;

  position: relative;

  width: 100%;

  border-radius: 10px;

  @media screen and (min-width: 768px) {
  }

  & > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
