/*.section__products {
	background-color: #fff;
}


.section__label {
	@include font(800, 18px, 1.2, null);
	color: $black-text-color;
	text-align: center;
	text-transform: uppercase;
}

.section__title {
	@include font(400, 30px, 1.26, 0.04em);
	font-family: $secondary-ff;
	color: $black-text-color;
	text-align: center;
	text-transform: uppercase;
}


.section__card {
	width: 280px;
	height: 420px;
	border-radius: 24px;
	background-repeat: no-repeat;
	background-size: contain;
}

.section__card--ice-cream {
	background-color: #AEC6A5;
}

.section__card--ice-cream::before {
	content: "";
	display: block;
	width: 300px;
	background-image: url("../images/products/mobile/ice-cream-mob1.svg");
}

.section__card--ice-coffee {
	background-color: #EFD478;
}

.section__card--ice-coffee::before {
	content: "";
	display: block;
	width: 300px;
	background-image: url("../images/products/mobile/ice-cream-mob2.svg");
}

.section__card--milkshakes {
	background: #D6936D;
}

.section__card--milkshakes::before {
	content: "";
	display: block;
	width: 400px;
	background-image: url("../images/products/mobile/ice-cream-mob3.svg");
}

.card__img--ice-cream::before {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
	box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.card__img--ice-coffee::before {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
	box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.card__img--card--milkshakes::before {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
	box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}*/