$main-ff: 'Montserrat', sans-serif;
$secondary-ff: 'Seymour One', sans-serif;
$roboto-ff: 'Roboto', sans-serif;
$main-bg-color: #84A178;
$accent-color: #F8D24E;
$mob-menu-bg-color: #85A279;
$tab-menu-bg-color: #97AF8D;
$white-text-color: #FCFCFC;
$black-text-color: #131313;
$input-bg-color: rgba(248, 210, 78, 0.1);
$hover-green-color: #0A8817;
$products-green-color: #AEC6A5;
$products-yellow-color: #EFD478;
$products-brown-color: #D6936D;
$duratoin: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function: 250ms;

