<section class="advantages section">
  <div class="container">
    <h4 class="visually-hidden">Our advantages</h4>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <p class="amount">721</p>
        <p class="advantages-paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="amount">16kg</p>
        <p class="advantages-paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="amount">84</p>
        <p class="advantages-paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
