<div class="container section contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts__list list">
    <li class="contacts__item">
      <div class="contacts__adress">
        <p>CAFE</p>
        <p>Chicago</p>
        <p>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
      </div>
      <div class="contacts__schedule">
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__links">
        <a href="tel:+610383766284" class="contacts__tel link"
          >+61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts__mail link"
          >noreply@envato.com
        </a>
      </div>
    </li>
    <li class="contacts__item">
      <div class="contacts__adress">
        <p>FOOD TRUCK</p>
        <p>Los Angeles</p>
        <p>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
      </div>
      <div class="contacts__schedule">
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__links">
        <a href="tel:+610383766284" class="contacts__tel link"
          >+61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts__mail link"
          >noreply@envato.com
        </a>
      </div>
    </li>
    <li class="contacts__item">
      <div class="contacts__adress">
        <p>CAFE</p>
        <p>New York</p>
        <p>726 Sterling Pl, Brooklyn, NY 11222, USA</p>
      </div>
      <div class="contacts__schedule">
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
      </div>
      <div class="contacts__links">
        <a href="tel:+610383766284" class="contacts__tel link"
          >+61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts__mail link"
          >noreply@envato.com
        </a>
      </div>
    </li>
  </ul>
  <button type="button">
    Our Locations
    <svg class="contacts__svg" width="12" height="12">
      <!-- <use href="../images/symbol-defs.svg#icon-more"></use> -->
    </svg>
  </button>
  <button type="button">
    Franchise
    <svg class="contacts__svg" width="12" height="12">
      <!-- <use href="../images/symbol-defs.svg#icon-more"></use> -->
    </svg>
  </button>
</div>
