<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__address">
          <p class="contacts__type">CAFE</p>
          <p class="contacts__city">Chicago</p>
          <a
            href="https://goo.gl/maps/sjEodvwdSsUaJvu3A"
            target="_blank"
            rel="noreferrer noopener"
            class="contacts__loc link"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <div class="contacts__schedule">
          <ul class="contacts__schedule-list list">
            <li class="contacts__schedule-item">
              <p class="contacts__days">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item">
              <p class="contacts__days">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="contacts__links list">
          <li>
            <a href="tel:+610383766284" class="contacts__tel link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail link"
              >noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__address">
          <p class="contacts__type">FOOD TRUCK</p>
          <p class="contacts__city">Los Angeles</p>
          <a
            href="https://goo.gl/maps/amzM1JsRXsQ4LwFv8"
            target="_blank"
            rel="noreferrer noopener"
            class="contacts__loc link"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <div class="contacts__schedule">
          <ul class="contacts__schedule-list list">
            <li class="contacts__schedule-item">
              <p class="contacts__days">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item">
              <p class="contacts__days">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="contacts__links list">
          <li>
            <a href="tel:+610383766284" class="contacts__tel link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail link"
              >noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__address">
          <p class="contacts__type">CAFE</p>
          <p class="contacts__city">New York</p>
          <a
            href="https://goo.gl/maps/PkwjDsXvcw1UYDM16"
            target="_blank"
            rel="noreferrer noopener"
            class="contacts__loc link"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <div class="contacts__schedule">
          <ul class="contacts__schedule-list list">
            <li class="contacts__schedule-item">
              <p class="contacts__days">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item">
              <p class="contacts__days">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="contacts__links list">
          <li>
            <a href="tel:+610383766284" class="contacts__tel link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__mail link"
              >noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button type="button" class="js-open-modal main-button" data-modal="3">
        Our Locations
        <svg class="contacts__svg" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-more"></use>
        </svg>
      </button>
      <button type="button" class="js-open-modal franch-button" data-modal="4">
        Franchise
        <svg class="contacts__svg" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-more"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
