<footer class="footer">
  <div class="container box">
    <div class="title">
      <p class="text__made">homemade ice cream made</p>
      <p class="text__passion">with passion</p>
    </div>
    <div class="contact-soc">
      <ul class="soc list">
        <li class="soc__item">
          <a
            href="https://github.com/"
            rel="noopener noreferrer nofollow"
            class="soc__link"
            aria-label="github link"
          >
            <svg class="soc__icons" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-github-def"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a
            href="https://web.telegram.org/k/"
            rel="noopener noreferrer nofollow"
            class="soc__link"
            aria-label="telegram link"
          >
            <svg class="soc__icons" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-telegram-def"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a
            href="https://www.facebook.com/"
            rel="noopener noreferrer nofollow"
            class="soc__link link"
            aria-label="facebook link"
          >
            <svg class="soc__icons" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-facebook-def"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="tel">
        <a href="tel:+610383766284" class="tel__link link">
          <span class="tel__text">Feel free to contact</span>
          +61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="license-box">
    <p class="license">© 2022 - IceCream. All Rights Reserved</p>
  </div>
</footer>
