<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="swiper-gallery" id="swiper-gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-1_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-1_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-1_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-1_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-1_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-1_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-1_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-2_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-2_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-2_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-2_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-2_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-2_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-2_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-3_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-3_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-3_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-3_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-3_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-3_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-3_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-4_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-4_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-4_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-4_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-4_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-4_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-4_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-5_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-5_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-5_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-5_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-5_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-5_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-5_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-6_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-6_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-6_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-6_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-6_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-6_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-6_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-7_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-7_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-7_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-7_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-7_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-7_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-7_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../src/images/gallery/gallery-8_desktop_1x.jpg 1x,
                ../src/images/gallery/gallery-8_desktop_2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-8_tab_1x.jpg 1x,
                ../src/images/gallery/gallery-8_tab_2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ../src/images/gallery/gallery-8_mob_1x.jpg 1x,
                ../src/images/gallery/gallery-8_mob_2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="gallery__img"
              src="../src/images/gallery/gallery-8_desktop_1x.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>

