<section class="header">
  <div class="container">
    <logo class="logo">
      <svg class="icon-ice" width="41" height="37">
        <use href="./images/header/logo.svg#icon-logo"></use>
      </svg>
    </logo>
    <nav class="navigation">
      <ul class="list">
        <li class="item">Home <a class="link"></a></li>
        <li class="item">How it’s made? <a class="link"></a></li>
        <li class="item">Our products <a class="link"></a></li>
        <li class="item">Contact <a class="link"></a></li>
      </ul>
    </nav>
  </div>
</section>
