<section class="header">
  <div class="container">
    <logo class="logo">
      <img src="./images/header/logo.png" alt="Зображення морозива" />
    </logo>
    <nav class="nav">
      <ul class="list">
        <li class="item">Home</li>
        <li class="item">How it’s made?</li>
        <li class="item">Our products</li>
        <li class="item">Contact</li>
      </ul>
    </nav>
    <svg class="menu-open" width="32" height="32">
      <use href="./images/header/icon.svg#icon-menu-open"></use>
    </svg>
    <button type="button" class="#">Buy now</button>
  </div>
</section>
