<section class="hero">
  <div class="container">
    <div class="hero__top">
      <div data-aos="fade-right" data-aos-duration="500">
        <h1 class="hero__title">
          ice cream made with <span class="pos">passion</span>
        </h1>
        <ul class="hero__list list">
          <li class="hero__item">
            <a class="products-button link" href="#products">Products</a>
          </li>
          <li class="hero__item">
            <a class="hero__link link" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div data-aos="fade-left" data-aos-duration="500" class="cafe">
        <ul class="cafe-track list">
          <li>
            <p>16</p>
            <span class="cafe-track-item">cafes</span>
          </li>
          <li>
            <p>23</p>
            <span class="cafe-track-item">food trucks</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- mobile ice-cream -->
    <ul class="ice__list list">
      <li>
        <picture class="list__ice">
          <source
            srcset="
              ./images/hero/ice-cream-desktop-1x.webp 1x,
              ./images/hero/ice-cream-desktop-2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-cream-desktop-1x.png 1x,
              ./images/hero/ice-cream-desktop-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero/ice-cream-tablet-1x.webp 1x,
              ./images/hero/ice-cream-tablet-2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-cream-tablet-1x.png 1x,
              ./images/hero/ice-cream-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero/ice-cream-mobile-1x.webp 1x,
              ./images/hero/ice-cream-mobile-2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-cream-mobile-1x.png 1x,
              ./images/hero/ice-cream-mobile-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="item__icecream-mob"
            src="./images/hero/ice-cream-mobile-1x.png"
            alt="ice-cream"
            width=""
          />
        </picture>
      </li>
      <li class="list__face">
        <picture
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="700"
          data-aos-offset="0"
        >
          <source
            srcset="
              ./images/hero/ice-face-desktop-1-1x.webp 1x,
              ./images/hero/ice-face-desktop-1-2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-desktop-1-1x.png 1x,
              ./images/hero/ice-face-desktop-1-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero/ice-face-tablet-1-1x.webp 1x,
              ./images/hero/ice-face-tablet-1-2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-tablet-1-1x.png 1x,
              ./images/hero/ice-face-tablet-1-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero/ice-face-mob-1-1x.webp 1x,
              ./images/hero/ice-face-mob-1-2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-mob-1-1x.png 1x,
              ./images/hero/ice-face-mob-1-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/hero/ice-face-mob-1-1x.png"
            alt="ice-cream-face"
            width=""
          />
        </picture>
      </li>
      <li class="list__face">
        <picture
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="700"
          data-aos-offset="0"
        >
          <source
            srcset="
              ./images/hero/ice-face-desktop-2-1x.webp 1x,
              ./images/hero/ice-face-desktop-2-2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-desktop-2-1x.png 1x,
              ./images/hero/ice-face-desktop-2-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero/ice-face-tablet-2-1x.webp 1x,
              ./images/hero/ice-face-tablet-2-2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-tablet-2-1x.png 1x,
              ./images/hero/ice-face-tablet-2-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero/ice-face-mob-2-1x.webp 1x,
              ./images/hero/ice-face-mob-2-2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-mob-2-1x.png 1x,
              ./images/hero/ice-face-mob-2-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/hero/ice-face-mob-2-1x.png"
            alt="ice-cream-face"
            width=""
          />
        </picture>
      </li>
      <li class="list__face">
        <picture
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="700"
          data-aos-offset="0"
        >
          <source
            srcset="
              ./images/hero/ice-face-desktop-3-1x.webp 1x,
              ./images/hero/ice-face-desktop-3-2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-desktop-3-1x.png 1x,
              ./images/hero/ice-face-desktop-3-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero/ice-face-tablet-3-1x.webp 1x,
              ./images/hero/ice-face-tablet-3-2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-tablet-3-1x.png 1x,
              ./images/hero/ice-face-tablet-3-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero/ice-face-mob-3-1x.webp 1x,
              ./images/hero/ice-face-mob-3-2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/ice-face-mob-3-1x.png 1x,
              ./images/hero/ice-face-mob-3-2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/hero/ice-face-mob-3-1x.png"
            alt="ice-cream-face"
            width=""
          />
        </picture>
      </li>
    </ul>
    <!-- tablet ice-cream -->
    <picture class="plate-tablet">
      <source
        srcset="
          ./images/hero/plate-desktop-1x.webp 1x,
          ./images/hero/plate-desktop-2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/plate-desktop-1x.png 1x,
          ./images/hero/plate-desktop-2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/hero/plate-tablet-1x.webp 1x,
          ./images/hero/plate-tablet-2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/hero/plate-tablet-1x.png 1x,
          ./images/hero/plate-tablet-2x.png 2x
        "
        media="(min-width:768px)"
      />
      <img
        src="./images/hero/plate-tablet-1x.png"
        alt="plate with ice cream"
        width=""
      />
    </picture>
    <p
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0"
      class="about-icecream"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
      <a href="#" class="arrow">
        <svg class="arrow-icon" width="40" height="16">
          <use href="./images/symbol-defs.svg#icon-Arrow-1"></use>
        </svg>
      </a>
    </p>
  </div>
</section>
