<!-- Кнопка виклику мобільного меню -->
<!-- <button type="button" class="menu-btn menu-btn--open" data-menu-open>
  <svg class="menu-btn__icon" width="32px" height="32px">
    <use href="./images/symbol-defs.svg#icon-btn-menu-open"></use>
  </svg>
</button> -->

<!-- Мобільне меню -->
<div class="mob-menu is-hidden" data-menu>
  <div class="container-mob">
    <a href="./index.html" class="mob-menu__logo logo"
      ><picture
        ><source
          srcset="
            ./images/header/logo-tablet-1x.png 1x,
            ./images/header/logo-tablet-2x.png 2x
          "
          media="(min-width:768px)" />
        <source
          srcset="
            ./images/header/logo-mobile-1x.png 1x,
            ./images/header/logo-mobile-2x.png 2x
          "
          media="(max-width:767px)" />
        <img
          src="./images/header/logo-desktop-1x.png"
          alt="Зображення морозива"
          width="60"
          ;
          height="65"
          ; /></picture
    ></a>
    <button type="button" class="menu-btn menu-btn--close" data-menu-close>
      <svg class="menu-btn__icon" width="32px" height="32px">
        <use href="./images/symbol-defs.svg#icon-btn-menu-close"></use>
      </svg>
    </button>
    <nav class="mob-menu__navigation">
      <ul class="mob-menu__list list">
        <li class="mob-menu__item">
          <a
            href="./index.html"
            class="link mob-menu__link mob-menu__link--current"
            >Home</a
          >
        </li>
        <li class="mob-menu__item">
          <a href="#" class="link mob-menu__link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href="#" class="link mob-menu__link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="#" class="link mob-menu__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="mob-menu-btn">
      <button
        type="button"
        class="button main-button main-button--none js-open-modal"
        data-modal="1"
      >
        Buy now
        <svg
          class="icon-btn-after icon-btn-after--marg"
          width="12px"
          height="12px"
        >
          <use href="./images/header/icon.svg#icon-btn-after"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
