<section class="section products" id="products">
  <div class="container">
    <p class="products__pre-title" data-aos="fade-down" data-aos-delay="200">100% natural</p>
    <h2 class="products__title" data-aos="fade-up">products</h2>
    <ul class="products__cards">
      <li class="products__card products__card--ice-cream" data-aos="fade-up-right" data-aos-delay="200">
        <picture>
          <source
            srcset="
              ./images/products/desktop/iceCream1x.webp 1x,
              ./images/products/desktop/iceCream2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/desktop/iceCream1x.png 1x,
              ./images/products/desktop/iceCream2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/tablet/iceCream1x.webp 1x,
              ./images/products/tablet/iceCream2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/tablet/iceCream1x.png 1x,
              ./images/products/tablet/iceCream2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/mobile/iceCream1x.webp 1x,
              ./images/products/mobile/iceCream2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/mobile/iceCream1x.png 1x,
              ./images/products/mobile/iceCream2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="card-img"
            src=" ./images/products/mobile/iceCream1x.png"
            alt="ice cream"
            width="200"
            height="200"
          />
        </picture>
        <span class="products__circle products__circle--icecream"></span>
        <div class="card__item">
          <h3 class="card__title">ice cream</h3>
          <div class="card__box">
            <p class="card__text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button
              class="card__button js-open-modal"
              type="button"
              data-modal="5"
              aria-label="ingregients"
            >
              <svg class="button-icon" width="40" height="16">
          <use href="./images/symbol-defs.svg#icon-Arrow-1"></use>
        </svg>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__card products__card--ice-coffee" data-aos="fade-up">
        <picture>
          <source
            srcset="
              ./images/products/desktop/iceCoffee1x.webp 1x,
              ./images/products/desktop/iceCoffee2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/desktop/iceCoffee1x.png 1x,
              ./images/products/desktop/iceCoffee2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/tablet/iceCoffee1x.webp 1x,
              ./images/products/tablet/iceCoffee2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/tablet/iceCoffee1x.png 1x,
              ./images/products/tablet/iceCoffee2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/mobile/iceCoffee1x.webp 1x,
              ./images/products/mobile/iceCoffee2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/mobile/iceCoffee1x.png 1x,
              ./images/products/mobile/iceCoffee2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="card-img"
            src=" ./images/products/mobile/iceCoffee1x.png"
            alt="ice coffee"
            width="200"
            height="200"
          />
        </picture>
        <span class="products__circle products__circle--icecoffee"></span>
        <div class="card__item">
          <h3 class="card__title">ice coffee</h3>
          <div class="card__box">
            <p class="card__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button
              class="card__button js-open-modal"
              type="button"
              data-modal="6"
              aria-label="ingregients"
            >
              <svg class="button-icon" width="40" height="16">
                <use href="./images/symbol-defs.svg#icon-Arrow-1"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products__card products__card--milkshakes" data-aos="fade-up-left"data-aos-delay="200">
        <picture>
          <source
            srcset="
              ./images/products/desktop/milkSnake1x.webp 1x,
              ./images/products/desktop/milkSnake2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/desktop/milkSnake1x.png 1x,
              ./images/products/desktop/milkSnake2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/tablet/milkSnake1x.webp 1x,
              ./images/products/tablet/milkSnake2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/tablet/milkSnake1x.png 1x,
              ./images/products/tablet/milkSnake2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/mobile/milkSnakes1x.webp 1x,
              ./images/products/mobile/milkSnakes2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products/mobile/milkSnakes1x.png 1x,
              ./images/products/mobile/milkSnakes2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="card-img"
            src=" ./images/products/mobile/milkSnakes1x.png"
            alt="milkshakes"
            width="200"
            height="200"
          />
        </picture>
        <span class="products__circle products__circle--milksnakes"></span>
        <div class="card__item">
          <h3 class="card__title">milkshakes</h3>
          <div class="card__box">
            <p class="card__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button
              class="card__button js-open-modal"
              type="button"
              data-modal="7"
              aria-label="ingregients"
            >
              <svg class="button-icon" width="40" height="16">
                <use href="./images/symbol-defs.svg#icon-Arrow-1"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
